Repository hmcts/sscs-cor-backend, pull requests merged in 2018-11, with the labels that each got.

#74 Dockerise
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  kubernetes/config.aat.yaml
  kubernetes/config.saat.yaml
  kubernetes/deployment.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CohRequests.java
  src/main/resources/application.yaml
Labels: ns:sscs-cor-backend-pr-74

#107 Added vault config
  infrastructure/main.tf
Labels: ns:sscs-cor-backend-pr-107

#108 Add a retry around the health check smoke test as this appears to fail
  src/smokeTest/java/uk/gov/hmcts/reform/sscscorbackend/smoke/HealthTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/sscscorbackend/smoke/Retry.java
Labels: ns:sscs-cor-backend-pr-108

#113 Do not build docker images on master only PR builds
  Jenkinsfile_CNP
Labels: ns:sscs-cor-backend-pr-113

#115 SSCS-4425 Fix file uploads
  src/main/resources/application.yaml
Labels: ns:sscs-cor-backend-pr-115

#117 Fix s2s
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CohRequests.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CohService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/CohServiceTest.java
Labels: ns:sscs-cor-backend-pr-117
