Repository hmcts/sscs-cor-backend, pull requests merged in 2018-12, with the labels that each got.

#85 Sscs 4030 questions into pdf
  build.gradle
  infrastructure/main.tf
  kubernetes/config.aat.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/OnlineHearing.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/Application.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/config/PdfServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/onlinehearing/CohEvent.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/onlinehearing/OnlineHearingPdfWraper.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/resources/application.yaml
  src/main/resources/templates/onlineHearingSummary.html
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-85

#119 SSCS-4485 Add logging when evidence upload fails
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/documentmanagement/DocumentManagementService.java
Labels: ns:sscs-cor-backend-pr-119

#123 Fix code coverage
  build.gradle
Labels: ns:sscs-cor-backend-pr-123

#124 SSCS-4601 Add question body to PDF
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/ListQuestionsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/QuestionTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/CohQuestionReference.java
  src/main/resources/templates/onlineHearingSummary.html
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/QuestionServiceTest.java
Labels: ns:sscs-cor-backend-pr-124

#133 Roll back to working version
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CohRequests.java
Labels: ns:sscs-cor-backend-pr-133
