Repository hmcts/sscs-cor-backend, pull requests merged in 2019-08, with the labels that each got.

#417 Update sidam config
  src/main/resources/application.yaml
Labels: ns:sscs-cor-backend-pr-417

#420 Update docker location 3
  Dockerfile
  build.gradle
  charts/sscs-cor-backend/Chart.yaml
  charts/sscs-cor-backend/requirements.yaml
  charts/sscs-cor-backend/values.template.yaml
  dump.rdb
  gradle/wrapper/gradle-wrapper.properties
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/LivenessController.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/LivenessControllerTest.java
Labels: ns:sscs-cor-backend-pr-420

#427 SSCS-6334 Allow us to add evidence and statements by Case Id
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/ListQuestionsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/QuestionTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/EvidenceUploadController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/StatementController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs-cor-backend-pr-427

#418 SSCS-6242 Remove Panel members from appeals
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/DecisionIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/HearingRelistedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/RemovePanelMembersFeature.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/DecisionIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/HearingRelistedActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/RemovePanelMembersFeatureTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersServiceTest.java
Labels: ns:sscs-cor-backend-pr-418

#431 SSCS-6264 - update sscs-common version
  build.gradle
Labels: ns:sscs-cor-backend-pr-431
