Repository hmcts/sscs-cor-backend, pull requests merged in 2019-02, with the labels that each got.

#193 SSCS-3973 See final decision
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/FinalDecision.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingDateReformatter.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-193

#198 Add logging when we add and remove users to a case to see why we are
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
Labels: ns:sscs-cor-backend-pr-198

#199 Check for null panel members before adding or removing them
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersServiceTest.java
Labels: ns:sscs-cor-backend-pr-199

#200 Add logging when we return not 200 response codes.
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/EvidenceUploadController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/QuestionController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/exception/RestResponseEntityExceptionHandler.java
  src/main/resources/application.yaml
Labels: ns:sscs-cor-backend-pr-200

#201 Catch bad case ids
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
Labels: ns:sscs-cor-backend-pr-201

#204 Sscs 5073 do not show draft answers final q and a pdf
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/pdf/PdfQuestion.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/PdfSummaryBuilder.java
  src/main/resources/templates/onlineHearingSummary.html
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/PdfSummaryBuilderTest.java
Labels: ns:sscs-cor-backend-pr-204

#207 Sscs 5115 null filename
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/BasePdfService.java
Labels: ns:sscs-cor-backend-pr-207

#208 Sscs 5115 null filename
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/BasePdfService.java
Labels: ns:sscs-cor-backend-pr-208

#211 Increase wait time for COH
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CohRequests.java
Labels: ns:sscs-cor-backend-pr-211

#213 Added logging at key points whilst handling COH events.
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/CohEventActionMapper.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfService.java
Labels: ns:sscs-cor-backend-pr-213

#214 Set from address for emails to DWP in prod
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:sscs-cor-backend-pr-214

#215 Added more logging around getCaseByCaseId request to CCD
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfService.java
Labels: ns:sscs-cor-backend-pr-215

#216 SSCS-5138 Inform Caseworker and DWP that the Appellant has made a
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/RecordTribunalViewResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/MailStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/AnswerSubmittedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DecisionIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/HearingRelistedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CorEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionAcceptedEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/DwpEmailMessageBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/AnswerSubmittedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DecisionIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/HearingRelistedActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/CorEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionAcceptedEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-216

#218 SSCS-5164 Send caseworker message when appellant reject PV
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/RecordTribunalViewResponseTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionAcceptedEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/DwpEmailMessageBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionAcceptedEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/DwpEmailMessageBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-218

#223 Saat config
  Jenkinsfile_parameterized
Labels: ns:sscs-cor-backend-pr-223

#227 Saat config
  Jenkinsfile_parameterized
  infrastructure/main.tf
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
Labels: ns:sscs-cor-backend-pr-227

#228 Set COH thread pool to one
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/config/AsyncConfiguration.java
Labels: ns:sscs-cor-backend-pr-228

#229 Tribunals view pdf no activities text
  src/main/resources/templates/tribunalsView.html
Labels: ns:sscs-cor-backend-pr-229

#225 SSCS-4478 Update CCD with COH events
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/NotificationsStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/AnswerSubmittedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/CohEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/CohEventActionMapper.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/CohEventActionRunner.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineElapsedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineExtendedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineExtensionDeniedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineExtensionGrantedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineReminderEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DecisionIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DecisionRejectedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/HearingRelistedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AbstractQuestionPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CorEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreQuestionsPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/CohEventActionContext.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/AnswerSubmittedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/CohEventActionRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/CohEventCohEventActionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DecisionIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/HearingRelistedActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/CorEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreQuestionsPdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-225

#230 Sscs 5072 email dwp deadline expires 2
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohEventsTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/AnswerSubmittedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineElapsedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundEndedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersDeadlineElapsedPdfService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DeadlineElapsedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersDeadlineElapsedPdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-230
