Repository hmcts/sscs-cor-backend, pull requests merged in 2019-06, with the labels that each got.

#346 make prod email correct
  infrastructure/prod.tfvars
Labels: ns:sscs-cor-backend-pr-346

#347 Add case reference to the result of getOnlineHearing endpoint
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/util/OnlineHearingDateReformatter.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/util/ActivitiesValidatorTest.java
Labels: ns:sscs-cor-backend-pr-347

#348 Added link to JUI to tribunal view accepted email
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/DecisionEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/EmailMessageBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/DecisionEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/EmailMessageBuilderTest.java
Labels: ns:sscs-cor-backend-pr-348

#351 Moved log statement
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/CohEventActionRunner.java
Labels: ns:sscs-cor-backend-pr-351

#360 Upgrade sscs-common to 3.0.12
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadService.java
Labels: ns:sscs-cor-backend-pr-360

#371 Enable scheduling
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/Application.java
Labels: ns:sscs-cor-backend-pr-371
