Repository hmcts/sscs-cor-backend, pull requests merged in 2019-10, with the labels that each got.

#466 SSCS-6504 - update PV descriptor
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/json/en.json
Labels: ns:sscs-cor-backend-pr-466

#496 Aks aat migration
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-cor-backend/Chart.yaml
  charts/sscs-cor-backend/requirements.yaml
  charts/sscs-cor-backend/values.aat.template.yaml
  charts/sscs-cor-backend/values.preview.template.yaml
  charts/sscs-cor-backend/values.yaml
  config/owasp/suppressions.xml
  kubernetes/config.aat.yaml
  kubernetes/config.saat.yaml
  kubernetes/deployment.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/AssociateCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/coh/HistoryEventExtractor.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/util/DecodeJsonUtil.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
Labels: ns:sscs-cor-backend-pr-496

#501 config fixes for AKS
  charts/sscs-cor-backend/values.aat.template.yaml
  charts/sscs-cor-backend/values.yaml
Labels: ns:sscs-cor-backend-pr-501

#502 Disable legacy deployment on aat
  Jenkinsfile_CNP
Labels: ns:sscs-cor-backend-pr-502

#505 Fix builds
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/TriggerCohEventsTest.java
Labels: ns:sscs-cor-backend-pr-505

#428 SSCS-6346 Make MYA work even if the COH app is not there. There was only one
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-428
