Repository hmcts/sscs-cor-backend, pull requests merged in 2019-01, with the labels that each got.

#138 Fix grey box around answer
  src/main/resources/templates/onlineHearingSummary.html
Labels: ns:sscs-cor-backend-pr-138

#144 Create docker image
  Jenkinsfile_CNP
Labels: ns:sscs-cor-backend-pr-144

#145 Object name changed in JUI
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/integrationTest/resources/json/get_decision.json
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionExtractor.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionExtractorTest.java
Labels: ns:sscs-cor-backend-pr-145

#148 SSCS-4484 Tribunals view content changes
  src/main/resources/templates/tribunalsView.html
Labels: ns:sscs-cor-backend-pr-148

#146 Sscs 4603 preliminary view pdf trigger
  infrastructure/main.tf
  kubernetes/config.aat.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/OnlineHearingControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/BaseStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CohStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/DocumentStoreStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/IdamStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/NotificationsStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/PdfServiceStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/TokenGeneratorStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/onlinehearing/CohEvent.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/NotificationsClient.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/NotificationsService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingDateReformatter.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewServiceTest.java
Labels: ns:sscs-cor-backend-pr-146

#147 Try running functional tests in parallel
  build.gradle
  dump.rdb
Labels: ns:sscs-cor-backend-pr-147

#149 Add the hearing id to the timeout message when question round or
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CohRequests.java
Labels: ns:sscs-cor-backend-pr-149

#151 fix terraform version
  infrastructure/main.tf
Labels: ns:sscs-cor-backend-pr-151

#152 Revert running functional tests in parallel as COH cann't cope with it.
  build.gradle
Labels: ns:sscs-cor-backend-pr-152

#153 Try changing notifications property name to see if it now gets picked
  infrastructure/main.tf
  kubernetes/config.aat.yaml
  src/main/resources/application.yaml
Labels: ns:sscs-cor-backend-pr-153

#158 SSCS-4414 Appellant can see draft questions
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CohStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/QuestionService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/coh/api/CohQuestionRound.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/QuestionServiceTest.java
Labels: ns:sscs-cor-backend-pr-158

#160 Sscs 4922 do not show exceptions
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/exception/RestResponseEntityExceptionHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/exception/RestResponseEntityExceptionHandlerTest.java
Labels: ns:sscs-cor-backend-pr-160

#168 Add extra logging to see which pannel members are being added and
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/CorCcdService.java
Labels: ns:sscs-cor-backend-pr-168

#169 Correcting mapping to CcdEvent
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/apinotifications/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/apinotifications/CcdEvent.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-169

#170 Removed logging users who were being added or removed from a case.
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/CorCcdService.java
Labels: ns:sscs-cor-backend-pr-170

#174 Allow us to select the case to load if an email address has multiple
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-174

#176 Add a test to check if errors contain a stack trace. In prod they should
  src/smokeTest/java/uk/gov/hmcts/reform/sscscorbackend/smoke/StacktraceTest.java
Labels: ns:sscs-cor-backend-pr-176

#179 Sscs 4991 add panel members name
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersServiceTest.java
Labels: ns:sscs-cor-backend-pr-179

#185 Fix unable to load decisions with special characters
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/coh/DecisionExtractor.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/DecisionExtractorTest.java
Labels: ns:sscs-cor-backend-pr-185

#188 SSCS-4992 Question in pdf is now html
  src/main/resources/templates/onlineHearingSummary.html
  src/main/resources/templates/questions.html
  src/main/resources/templates/tribunalsView.html
Labels: ns:sscs-cor-backend-pr-188
