Repository hmcts/sscs-cor-backend, pull requests merged in 2019-09, with the labels that each got.

#474 replacing template file
  build.gradle
  charts/sscs-cor-backend/values.preview.template.yaml
  charts/sscs-cor-backend/values.yaml
  config/owasp/suppressions.xml
Labels: ns:sscs-cor-backend-pr-474

#461 Update config to point at cnp-module-webapp
  infrastructure/main.tf
Labels: ns:sscs-cor-backend-pr-461

#457 Update hmcts docmosis key
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/coversheet/PdfCoverSheet.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/pdfservice/DocmosisPdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-457
