Repository hmcts/sscs-cor-backend, pull requests merged in 2019-03, with the labels that each got.

#231 Added logging for various service times
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/QuestionController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
Labels: ns:sscs-cor-backend-pr-231

#233 SSCS-5230 Display final decision
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/OnlineHearingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingDateReformatter.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/CorCcdService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/api/CcdHistoryEvent.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/ccd/CorCcdServiceTest.java
Labels: ns:sscs-cor-backend-pr-233

#235 SSCS-5218 Tables in tribunal view when empty
  src/main/resources/templates/tribunalsView.html
Labels: ns:sscs-cor-backend-pr-235

#238 SSCS-5230 View final decision when there is no Preliminary View
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/coh/DecisionExtractor.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/coh/DecisionExtractorTest.java
Labels: ns:sscs-cor-backend-pr-238

#239 SSCS-5221 Missing budget description in PV
  src/main/resources/json/en.json
Labels: ns:sscs-cor-backend-pr-239

#240 Check activities and score are mapped
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/ActivitiesValidator.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/ActivitiesValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewServiceTest.java
Labels: ns:sscs-cor-backend-pr-240

#247 Upgrade pdf common to 0.0.106
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AbstractQuestionPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersDeadlineElapsedPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreQuestionsPdfService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersDeadlineElapsedPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreQuestionsPdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-247

#189 Added chart
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/sscs-cor-backend/Chart.yaml
  charts/sscs-cor-backend/requirements.yaml
  charts/sscs-cor-backend/values.aat.template.yaml
  charts/sscs-cor-backend/values.template.yaml
  infrastructure/output.tf
Labels: ns:sscs-cor-backend-pr-189

#252 trying sidam
  charts/sscs-cor-backend/values.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  kubernetes/config.aat.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/GetAnOnlineHearingTest.java
Labels: ns:sscs-cor-backend-pr-252

#256 Sscs 3566 upload person statement
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/AppellantStatementTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/StatementController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/DecisionIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/HearingRelistedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundEndedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/coheventmapper/QuestionRoundIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/Statement.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/pdf/PdfAppellantStatement.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AbstractQuestionPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/AppellantStatementPdfData.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/PdfData.java
  src/main/resources/application.yaml
  src/main/resources/templates/personalStatement.html
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/StatementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersDeadlineElapsedPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAnswersPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreOnlineHearingTribunalsViewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StorePdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/StoreQuestionsPdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-256

#263 Use isCorDecision field
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-263

#264 Use isCorDecision field rather than decision event to decide if the
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/GetAnOnlineHearingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/MailStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
Labels: ns:sscs-cor-backend-pr-264
