Repository hmcts/sscs-cor-backend, pull requests merged in 2019-07, with the labels that each got.

#380 Set the name when generating a coversheet
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/coversheet/CoversheetService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/coversheet/PdfCoverSheet.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/coversheet/CoversheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/thirdparty/pdfservice/DocmosisPdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-380

#384 Added docs to the endpoints on the CitizenController.
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenController.java
Labels: ns:sscs-cor-backend-pr-384

#385 fixing error when only one panel member set
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AmendPanelMembersServiceTest.java
Labels: ns:sscs-cor-backend-pr-385

#386 Allow user to login if they do not have an appeal in COH.
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-386

#387 SSCS-6062 Added hearring arrangements
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/HearingArrangements.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-387

#382 SSCS-4067 - update sscs-common rc version
  build.gradle
Labels: ns:sscs-cor-backend-pr-382

#390 Fixing a null pointer exception when loading a case for MYA
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
Labels: ns:sscs-cor-backend-pr-390

#396 Add extra logging to the citizen login.
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginService.java
Labels: ns:sscs-cor-backend-pr-396

#401 Allow null SC number
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
Labels: ns:sscs-cor-backend-pr-401

#403 SSCS-6071 - update sscs-common version
  build.gradle
Labels: ns:sscs-cor-backend-pr-403

#402 SSCS-6101 CCD endpoint for user details
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/AddressDetails.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/AppellantDetails.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/util/OnlineHearingDateReformatter.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/util/ActivitiesValidatorTest.java
Labels: ns:sscs-cor-backend-pr-402

#414 SSCS-5625 Multi appeal login
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/AppealDetails.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/OnlineHearing.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/util/OnlineHearingDateReformatter.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/OnlineHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/util/ActivitiesValidatorTest.java
Labels: ns:sscs-cor-backend-pr-414
