Repository hmcts/sscs-cor-backend, pull requests merged in 2020-02, with the labels that each got.

#570 SSCS-7108 Evidence conversheet fix
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/EvidenceUploadController.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-570

#571 Add appinsights key to bootstrap
  infrastructure/aat.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, rel:sscs-cor-backend-pr-571

#573 Remove docker build
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-573

#572 Sscs 7145 sscs 7223 venue airlookup changes
  build.gradle
Labels: ns:sscs, rel:sscs-cor-backend-pr-572

#569 SSCS-7191 spike to get the merge evidence working
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadService.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadServiceTest.java
  src/test/resources/dummy.pdf
Labels: ns:sscs, rel:sscs-cor-backend-pr-569

#575 Task/fix imports for new checkstyle version
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/TriggerCohEventsTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/AddressDetails.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/AppellantDetails.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-575

#576 remove deprecated config
  charts/sscs-cor-backend/values.preview.template.yaml
Labels: ns:sscs, rel:sscs-cor-backend-pr-576

#578 SSCS-7275 Update logo
  src/main/resources/application.yaml
Labels: ns:sscs, rel:sscs-cor-backend-pr-578

#584 vulnerabilities tomcat fix
  config/owasp/suppressions.xml
Labels: ns:sscs, rel:sscs-cor-backend-pr-584

#585 vulnerabilities tomcat fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, rel:sscs-cor-backend-pr-585
