Repository hmcts/sscs-cor-backend, pull requests merged in 2020-03, with the labels that each got.

#590 Bump common to 3.2.3
  build.gradle
Labels: ns:sscs, rel:sscs-cor-backend-pr-590

#595 SSCS-7186 Clearup demo on AKS
  Jenkinsfile_CNP
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/test_config.tf
  infrastructure/variables.tf
Labels: ns:sscs, rel:sscs-cor-backend-pr-595

#597 SSCS-7350 Remove additional statement email to DWP
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/AppellantStatementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/AppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/AppellantStatementEmailService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/AppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/AppellantStatementEmailServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-597

#583 Sscs 7147 timestamp mya login
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/UserLogType.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-583

#598 SSCS-7339: MYA – Error messages when user clicks into a case that is …
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/CitizenLoginServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-598

#593 Sscs 7299 idam review spring security
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/config/AuthCheckerServiceAndUserFilter.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/config/AuthConfig.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/config/CorAuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenControllerTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-593

#601 SSCS-7364 Upgrade pdf common
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/DecisionIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/HearingRelistedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/QuestionRoundEndedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/QuestionRoundIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/CorEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/DecisionEmailService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadEmailService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/AnswerSubmittedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/DeadlineElapsedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/DecisionIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/HearingRelistedActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/action/QuestionRoundIssuedEventActionTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/CorEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/DecisionEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadEmailServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-601

#604 Use okhttp3 version 4.3.1
  build.gradle
Labels: ns:sscs, rel:sscs-cor-backend-pr-604

#596 SSCS-7294 Remove COR functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/AppellantStatementTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CitizenLoginTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/CreateHearingPdfTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/ExtendQuestionRoundDeadlineTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/GetAQuestionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/GetAnOnlineHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/GetListOfQuestionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/RecordTribunalViewResponseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/TriggerCohEventsTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/OnlineHearingController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/QuestionController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/TribunalViewController.java
  src/main/resources/json/ccd_case.json
Labels: ns:sscs, rel:sscs-cor-backend-pr-596
