Repository hmcts/sscs-cor-backend, pull requests merged in 2020-01, with the labels that each got.

#540 changed to default to Jo's email in AAT
  build.gradle
  charts/sscs-cor-backend/values.preview.template.yaml
  charts/sscs-cor-backend/values.yaml
  config/owasp/suppressions.xml
Labels: ns:sscs-cor-backend-pr-540

#541 Aks config
  charts/sscs-cor-backend/Chart.yaml
  charts/sscs-cor-backend/values.yaml
Labels: ns:sscs-cor-backend-pr-541

#544 sonar fix
  build.gradle
Labels: ns:sscs-cor-backend-pr-544

#542 Changed from SC number to ID
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohEventsTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StorePdfService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StorePdfServiceTest.java
Labels: ns:sscs-cor-backend-pr-542

#548 Sscs 6917 sc number
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/EmailMessageBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/EmailMessageBuilderTest.java
Labels: ns:sscs-cor-backend-pr-548

#538 SSCS-7048 MYA – OpenID connect – Validate the IDAM token that is retu…
  build.gradle
  charts/sscs-cor-backend/Chart.yaml
  charts/sscs-cor-backend/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/CitizenControllerTest.java
Labels: ns:sscs-cor-backend-pr-538

#550 Sscs 6917 sc number
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/email/EmailMessageBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/email/EmailMessageBuilderTest.java
Labels: ns:sscs-cor-backend-pr-550

#543 SSCS-6622 Migrate COR to aks on prod
  Jenkinsfile_CNP
Labels: ns:sscs, ns:sscs-cor-backend-pr-543, rel:sscs-cor-backend-pr-543

#521 SSCS 6964 Fix content
  src/main/resources/json/en.json
Labels: ns:sscs, ns:sscs-cor-backend-pr-521, rel:sscs-cor-backend-pr-521

#552 Add evidence description
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-552

#560 SSCS-7132 Representatives - Adding evidence to MYA
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/DecisionIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/HearingRelistedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/QuestionRoundEndedAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/coheventmapper/actions/QuestionRoundIssuedEventAction.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/StatementController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/Statement.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/AbstractQuestionPdfService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreEvidenceDescriptionService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreOnlineHearingService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreOnlineHearingTribunalsViewService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StorePdfService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/DataFixtures.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/StatementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAnswersDeadlineElapsedPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAnswersPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreEvidenceDescriptionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StorePdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreQuestionsPdfServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-560

#554 Sscs 6917 sc number
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/AppellantStatementTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/BaseFunctionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/CohEventsTest.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StorePdfService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAppellantStatementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreOnlineHearingTribunalsViewServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StorePdfServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-554

#563 SSCS-7144 Update Statement Template - MYA
  src/main/resources/templates/personalStatement.html
Labels: ns:sscs, rel:sscs-cor-backend-pr-563

#564 Vulnerabilities fix and suppress
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, rel:sscs-cor-backend-pr-564

#561 SCS-7143 Representatives - Adding evidence to MYA
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceUploadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscscorbackend/SscsCorBackendRequests.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/EvidenceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscscorbackend/stubs/CcdStub.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/controllers/EvidenceUploadController.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/domain/EvidenceDescription.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreAppellantStatementService.java
  src/main/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreEvidenceDescriptionService.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/controllers/EvidenceUploadControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/evidence/EvidenceUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscscorbackend/service/pdf/StoreEvidenceDescriptionServiceTest.java
Labels: ns:sscs, rel:sscs-cor-backend-pr-561
